html {
  font-size: min(5vw, 4.5vh);
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 12px;
    background-color: #7a2c9e;
  }
  &::-webkit-scrollbar-track {
    background-color: #dd578999;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #7a2c9e;
    border: 3px solid #dd578999;
    border-radius: 0.5em;
  }
}

body {
  position: relative;
  color: white;
  min-height: 90vh;
  margin: 10vh 0 0;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: 'TW Cen MT', 'Gill Sans', sans-serif;
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: Comfortaa;
}
h1 {
  font-size: 1.4rem;
}

button {
  background-color: white;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  border: none;
  appearance: none;
  font-size: 1rem;
  box-shadow:
    0 0.4rem 1.5rem -0.5rem rgba(24, 39, 75, 0.12),
    0 0.6rem 3rem -0.3rem rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 0.6rem;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}
